<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/client/static/css/CTrack.css">
</head>
<body>
    <div class="sidebar">
        <a href="/CTrack" class="nav-btn active">Home</a>
        <a href="/CTrack_Portfolio" class="nav-btn">Portfolio</a>
        <a href="/STrack" class="nav-btn">STrack</a>
    </div>

    <div class="main-container">
        <header class="header">
            <h1>Dashboard</h1>
            <a href="/" class="logout-link">
                <button class="logout-btn">Logout</button>
            </a>       
        </header>
    </div>

    <div class="container">
        <div class="left-side">
            <h2>Expense Tracker</h2>
            <label for="expense-select">Select an expense:</label><br>
            <select id="expense-select">
                <option value="Income">Income After Tax</option>
                <option value="Rent">Rent</option>
                <option value="Utilities">Utilities</option>
                <option value="Subscriptions">Subscriptions</option>
                <option value="Groceries">Groceries</option>
                <option value="Car Payment">Car Payment</option>
                <option value="Debt">Debt</option>
                <option value="Savings">Savings</option>
                <option value="Custom">Custom</option>
            </select><br>
            <input type="number" id="custom-expense" placeholder="Enter Monthly Cost"><br>
            <button id="add-expense-btn">Add Expense</button>
        </div>
        <div class="right-side">
            <div id="expenses-list"></div>
            <div id="total">Total: $0</div>
            <button id="submit-btn">Submit</button>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/CTrack.js') }}"></script>
</body>
</html>