<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="client/static/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@400&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Istok Web:wght@400&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap">
    <title>Login Page</title>
</head>
<body>
    <div class="landing-page">
        <img class="pexels-anna-nekrashevich-68020-icon" loading="lazy" alt="" src="client/static/img/pexelsannanekrashevich6802052-1@2x.png">

        <form class="frame-parent" id="loginForm" onsubmit="submitForm(event)">
            <div class="ctrack-wrapper">
                <div class="ctrack">CTrack</div>
            </div>
            <div class="landing-page-inner">
                <div class="input-fields-parent">
                    <div class="input-fields">
                        <h1 class="create-your-personal">Login to your personal account</h1>
                    </div>
                    <div class="field-titles">
                        <div class="primary-button">
                            <h3 class="username">Username</h3>
                        </div>
                        <input class="input-field" id="username" type="text" name="username" />
                    </div>
                    <div class="field-titles1">
                        <div class="password-wrapper">
                            <h3 class="password">Password</h3>
                        </div>
                        <input class="input-field1" id="password" type="password" name="password" />
                    </div>
                    <div class="field-titles1">
                        <div class="password-wrapper">
                            <h3 class="password">2FA</h3>
                        </div>
                        <input class="input-field1" id="2FA" type="text" name="2FA" />
                    </div>
                    <div class="sign-up-button-area-wrapper">
                        <div class="sign-up-button-area">
                            <button type="submit" class="button">
                                <div class="sign-up">Login</div>
                            </button>

                            <button class="button" type="button" onclick="window.location.href='/signup'">
                                <div class="sign-up">SignUp</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
