<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/client/static/css/STrack.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<body>
    <div class="sidebar">
        <button class="nav-btn active">Home</button>
        <a href="/CTrack" class="nav-btn">CTrack</a>
    </div>
    <div class="main-container">
        <header class="header">
            <h1>Dashboard</h1>
            <a href="/" class="logout-link">
                <button class="logout-btn">Logout</button>
            </a>        </header>
        <div class="slider-container">
            <div class="slider" id="slider">
                <!-- Boxes with stock charts will be dynamically added here -->
            </div>
            <button class="prev-btn" onclick="prevSlide()">&#10094;</button>
            <button class="next-btn" onclick="nextSlide()">&#10095;</button>
        </div>
    </div>
    <div class="loading-spinner"></div>
    <script src="{{ url_for('static', filename='js/STrack.js') }}"></script>
</body>
</html>
