body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --small-text: Inter;
  --font-istok-web: "Istok Web";
  --font-inknut-antiqua: "Inknut Antiqua";

  /* font sizes */
  --small-text-size: 16px;
  --font-size-xl: 20px;
  --font-size-6xl: 25px;
  --font-size-25xl: 44px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkslategray: #333;
  --color-dimgray: #666;
  --color-gray: #797979;
  --color-whitesmoke: #efefef;

  /* Gaps */
  --gap-3xl: 22px;

  /* Paddings */
  --padding-6xl: 25px;
  --padding-9xs: 4px;
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-5xs: 8px;

  /* Effects */
  --button-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}
